.ingredient-card {
  font-family: "Roboto Mono";
  font-size: 12px;
  color: #3c28df;
}

.ingredient-card input[type="text"],
.ingredient-card input[type="number"] {
  color: #3c28df;
  font-size: 1.1em;
}

.ingredient-card .col-form-label,
.ingredient-card .col-4 input[type="number"] {
  font-size: 0.8em;
}
