.summary {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.25);
  font-family: "Roboto Mono";
  font-size: 12px;
  height: 9em; /* Also see app.css */
}

.summary .header-row {
  font-size: 0.8em;
}

.header-row > th,
.table > tbody td {
  padding: 0 2px;
  text-align: end;
}

i[aria-hidden="true"] > span {
  display: none;
}
